<%= content_for :header_title do %>
  Contratar Produto
<% end %>

<%= content_for :page_title do %>
  Planos para <%= @product %>
<% end %>

<section class="product">
  <% @plans.each do |plan| %>
    <%= render partial: 'plans/plan', locals: {plan: plan} %>
  <% end %>
</section>

<%= link_to 'Voltar', root_path %>
