<%= content_for :header_title do %>
  Periodicidade
<% end %>

<%= content_for :page_title do %>
  Periodos do plano <%= @plan %>
<% end %>

<section id="plan">
  <h3><%= @product %> / <%= @plan %></h3>
  <% @periodicity.each do |periodicity| %>
    <%= render partial: 'periodicities/periodicity', locals: {periodicity: periodicity} %>
  <% end %>
</section>
