<section id="orders-filter">
  <div class="ls-group-btn ls-group-active">
    <%= link_to 'Todos', admin_orders_path, class: 'ls-btn-primary' %>
    <% @statuses.each do |status| %>
      <%= link_to status[:value], admin_orders_path(filter: status[:key]), class: "ls-btn-primary #{active?(status[:key], @current_filter)}" %>
    <% end %>
  </div>
</section>

<section id="orders">
  <table class="ls-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Produto</th>
        <th>Plano</th>
        <th>Período</th>
        <th>Preço</th>
        <th>Cliente</th>
        <th>Status</th>
      </tr>
    </thead>
     <tbody>
       <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.product %></td>
            <td><%= order.plan %></td>
            <td><%= order.period %></td>
            <td><%= order.price %></td>
            <td><%= order.user.name %></td>
            <td><%= order.status %></td>
          </tr>
       <% end %>
     </tbody>
  </table>
</section>
